<html>

<head>
    <title>Smart Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="javascript/raphael.2.1.0.min.js"></script>
    <script src="javascript/justgage.1.0.1.min.js"></script>


    <title>IoT Web Client</title>

    <script>
        window.setInterval(() => {
            console.log("TIMEOUT");
        $( "#d_id" ).load(window.location.href + " #d_id" );
        $( "#w_id" ).load(window.location.href + " #w_id" );
        $( "#t_id" ).load(window.location.href + " #t_id" );
        }, 1000);

        var g1;
        var min = 0;
        var max = 50;
        var temp = "<%= content.tempMsg %>";

        var g2;
        var minG2 = 0;
        var maxG2 = 100;



        $(function(){

            var g1 = new JustGage({
                id: "g1",
                value: temp,
                min: min,
                max: max,
                title: "Temperature",
                label: "Celsius",
                levelColorsGradient: true,
                levelColors: ["FF0000","FF6103","FFFF00","00FF00","FFFF00","FF0000"],
                shadowSize: 2,
                shadowVerticalOffset: 12
            });


            var g2 = new JustGage({
                id: "g2",
                value: temp,
                min: minG2,
                max: maxG2,
                title: "Soil Moisture",
                label: "%",
                levelColorsGradient: true,
                levelColors: ["FF0000","FF6103","FFFF00","00FF00","FFFF00","FF0000"],
                shadowSize: 2,
                shadowVerticalOffset: 12
            });

            setInterval(function() {
                if(!$('#on_check').attr('checked'))return;
                $.get('http://'+window.location.host+'/?getData',function(data){
                    data = data/1000;
                    data = parseFloat(data.toFixed(3));


                    g1.refresh(data);//GAGE1
                    g2.refresh(data);//GAGE2

                });
            }, 500);
        });

    </script>
    <style>

        #g1 {
            width:400px; height:320px;
            display: inline-block;
            margin: 1em;
        }
        #g2 {
            width:400px; height:320px;
            display: inline-block;
            margin: 1em;
        }

    </style>


</head>

<!-- this is an HTML comment -->
<body>
<nav class="navbar navbar-inverse">
</nav>

<div class="jumbotron">
    <div class="container text-center">
        <h2>Smart Home</h2>
    </div>
</div>

<div class="container-fluid bg-3 text-center" style="background-color:lightgray;">
    <br>

    <div class="row" style="background-color:#dcdcdc;">  <!-- row one-->
        <div class="col-sm-6">
            <!-- Slider button  for heater-->
            <div class="slidecontainer">
                <h4>LIGHT <span id="led_state">OFF</span></h4>
                <label class="switch">
                    <input type="checkbox" onchange="led_state_change(this)">
                    <span class="slider1 round"></span>
                </label>
            </div>
        </div>
        <div class="col-sm-6">
            <!-- Slider button  for heater-->
            <div class="slidecontainer">
                <h4>HEATER <span id="heater_state">OFF</span></h4>
                <label class="switch">
                    <input type="checkbox" onchange="heater_state_change(this)">
                    <span class="slider1 round"></span>
                </label>
            </div>
        </div>
    </div>
    <br>
    <div class="row">  <!-- row two-->
        <div class="col-sm-4">
            <img class="logo" src="images/light.png" alt="attention" width="25%"> <br>
            <h4>Light is ON/OFF</h4>
        </div>
        <div class="col-sm-4">
            <div id="g1"></div>
        </div>
        <div class="col-sm-4">
            <div id="g2"></div>
            <h4 id="m_id"> <%= content.moistureMsg %> </h4>
        </div>
    </div>
    <div class="row" style="background-color:gray;" >  <!-- row four-->
        <div class="container text-center">
            <h2>Alarms <img class="logo" src="images/attention.png" alt="attention" width="3%"> </h2>
        </div>
        <div class="col-sm-4">
            <img class="logo" src="images/plant.png" alt="attention" width="25%"> <br>
            <h4>Water Plant</h4>
        </div>
        <div class="col-sm-4">
            <img class="logo" src="images/moveSensor.png" alt="attention" width="25%"> <br>
            <h4>Move Sensor</h4>
        </div>
        <div class="col-sm-4">
            <img class="logo" src="images/door.png" alt="attention" width="25%"> <br>
            <h4 id="d_id"> <%= content.doorMsg %> </h4>
        </div>
    </div>
    <div class="row" style="background-color:gray;" >  <!-- row five-->
        <div class="col-sm-6">
            <img class="logo" src="images/window.png" alt="attention" width="18%"> <br>
            <h4 id="w_id"> <%= content.windowMsg %> </h4>
        </div>
        <div class="col-sm-6"">
        <img class="logo" src="images/heater.png" alt="attention" width="15%"><br>
        <h4>Heater on/off</h4>
    </div>
</div>
</div><br>


<footer class="container-fluid text-center">
    <img class="logo" src="images/rpi.png" alt="attention" width="20%">
</footer>

</body>


<script>

    // Functions (jquery) to check switch **Light**
    var led_state_change = (element) => {
        if(element.checked) {
            $.ajax({
                url: '/turnOnLed',
                method: 'post',
                success: function(data){
                    $("#led_state").html("LED_ON");
                }
            });
        } else {
            $.ajax({
                url: '/turnOffLed',
                method: 'post',
                success: function(data){
                    $("#led_state").html("LED_OFF");
                }
            });
        }
    }

    // Functions (jquery) to check switch **Heater**
    var heater_state_change = (element) => {
        if(element.checked) {
            $.ajax({
                url: '/turnOnHeater',
                method: 'post',
                success: function(data){
                    $("#heater_state").html("HEATER_ON");
                }
            });
        } else {
            $.ajax({
                url: '/turnOffHeater',
                method: 'post',
                success: function(data){
                    $("#heater_state").html("HEATER_OFF");
                }
            });
        }
    }

</script>
</html>