<html>

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<title>IoT Web Client</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

</head>

  <!-- this is an HTML comment -->
  <body>
    <div class="container">
    <h1>Hello World Webpage</h1>
        <!-- this is the secton wrapping our new button -->
    <div>
      <button id="btn_n1" type="button">Press me!</button>
    </div>

    <button id="btn_led_on" type="button">Turn LED on</button>
    <button id="btn_led_off" type="button">Turn LED off</button>

    <div class="slidecontainer">
      <p>LIGHT <span id="led_state">OFF</span></p> <!-- state initial -->
      <label class="switch">
      <input type="checkbox" onchange="state_change(this)">
      <span class="slider1 round"></span>
      </label>
    </div>

    <div class="container">
    </body>
    <script>
    var state_change = (element) => {
      if(element.checked) {
        $.ajax({
						url: '/turnOn',
            method: 'post',
            success: function(data){
							$("#led_state").html("ON");
						}
					});
      } else {
        $.ajax({
						url: '/turnOff',
            method: 'post',
            success: function(data){
              $("#led_state").html("OFF");
						}
					});
      }
    } 

    $("#btn_n1").click(() => {
      alert("n1 click");
      $.ajax({
						url: '/message',
            method: 'post',
            success: function(data){
							alert("n1 success");
						}
					});
    });
    
    $("#btn_led_on").click(() => {
      alert("led on click");
      $.ajax({
						url: '/turnOn',
            method: 'post',
            success: function(data){
							alert("turned on");
						}
					});
    });
    
    $("#btn_led_off").click(() => {
      alert("led off click");
      $.ajax({
						url: '/turnOff',
            method: 'post',
            success: function(data){
							alert("turned off");
						}
					});
    });
  </script>
</html>